*{
	margin: 0;
	padding: 0;
	font-family: "helvetica",Arial 
}
.land-page{
	background: url('LP-Hero-Home-remodeller.webp');
	background-position: center top;
	background-size: cover;
	/* width: 90%; */
	 /* padding-left: 70px; */
	/* margin: 50px; */
	/* line-height: 50px; */
	/* margin-top: 100px;
	margin-right: 50px; */
	height: 550px;
}
.words{
	padding: 50px;
	padding-top: 200px;
	line-height: 50px;

}
.header1{
	font-size: 70px;
	font-weight: 700;
	line-height: 50px;
}
.para{
	padding-top: 20px;
	font-size: 20px;
	color: white;

}
.but1{
	font-size: 14px;
	border-radius:10px;
	text-align: center;
	padding: 1rem 2rem;
	background-color: blueviolet;
	border: none;
	cursor: pointer;
	transition: 0.8s;
	text-transform: capitalize;
	color: white;
	font-weight: 600;
}
.but1:hover{
	background-color: white;
	color: blueviolet;

}
.land2{
	text-align: center;
	justify-content: center;
	margin: 60px;
}
.para1{
	font-size: 18px;
	font-weight: bolder;
	color: blueviolet;

}
.grid2{
	display: flex;
	/* grid-template-columns: repeat(5, 1fr); */
	justify-content: space-between;
	width: 100%;
	line-height: 80px;
	margin-top: 120px;
	
}
.grid_2{
	width: 25%;
	
	height: 135px;
}
.grid_1{
	width: 25%;
	transition: 0.10s;
	
	height: 135px;
}
.grid_3{
	width: 25%;
	height: 135px;
}
.grid_4{
	width: 25%;
	height: 135px;
}
.grid_5{
	width: 25%;
	height: 135px;
}
.grid_1 > img{
	width: 150px;
	filter: brightness(250%);
	transition: 0.10s ease-in-out;
}
.grid_2 > img{
	width: 137px;
	filter: brightness(120%);
}
.grid_3 > img{
	width: 137px;
	filter: brightness(120%);
}
.grid_4 > img{
	width: 137px;
	filter: brightness(250%);
}
.grid_5 > img{
	width: 137px;
	filter: brightness(250%);
}
.grid_1 >img:hover{
	filter: brightness(20%);
}

.grid_2 > img:hover{
	filter: brightness(20%);
}
.grid_3 > img:hover{
	filter: brightness(20%);
}
.grid_4 > img:hover{
	filter: brightness(20%);
}
.grid_5 > img:hover{
	filter: brightness(20%);
}
.land3{
	padding: 40px;
}
.landmini{
	display: flex;
}
.mini1{
	width: 60%;
	
}
.head2{
	font-size: 40px;
}
.para2{
	font-size: 18px;
	font-weight: bolder;
	color: blueviolet;
	padding-bottom:10px ;
	font-weight: 700;
	text-transform: capitalize;
}
.head5{
	font-size: 20px;
	font-weight: lighter;
}
ul{
	list-style-type:none;
	font-size: 17px;
	font-weight: 500;
	line-height: 30px;
}
.para3{
	font-size: 17px;
	font-weight: lighter;
	line-height: 40px;
	margin-top: 30px;
}
.mini2 > img{
	width: 490px;
}
.mini3 {
	width: 50%;
}
.mini3 > img{
	width: 550px;
}
.mini4{
	margin: 60px;
}
.para4{
	font-size: 18px;
	font-weight: 300;
	line-height: 40px;
	margin-bottom: 60px;
}
.mini12{
	width: 55%;
	margin-top: 100px;
	
}
.mini10{
	margin-top: 60px;
	padding-right: 70px;
}
.mini10 > img {
	width: 353px;
	height: 538px;
	
	
}
.land4{
	padding: 30px;
	background-color: rgb(241, 247, 245);
}
.land7{
	padding: 90px;
}
.grid9{
	display: flex;
	justify-content:center;
	align-items: center;
	width: 100%;
	gap: 20px;
	
}
.gridz{
	transition: .5s ease-in-out;
}
.gridz:hover{
	transform-style: preserve-3d;
	transform: scale(1.1);
}
.gridz > img{
	width: 400px;
	border-radius: 10px;
}
.landzz{
	text-align: center;
}
.overlay1{
	position:absolute;
	top: 0;
	left: 0;
	width: 400px;
	height: 270px;
	border-radius: 10px;
	background-color: rgb(73, 86, 211, 0.7);
	color: white;
	text-align: center;
	z-index: 4;
	opacity: 0;
	transition: opacity 0.3s ease-in;
}
.gridz:hover .overlay1{
	opacity: 1;
	cursor: pointer;
}


